node_modules
.DS_Store
dist
.astro
.vercel
.env
.env.*
*.local
**/.cache
**/coverage
**/*.log
/.vite
/.parcel-cache
/.turbo
/.pnpm-store
/.next
/.nuxt
/.svelte-kit
**/*.tmp
**/.envrc
public/*.map
public/*.tmp
public/*.bak
